@{
    ViewData["Title"] = "Menu";
}

<button class="btn btn-default btn-sm" type="button" onclick="location.href='@Url.Action("Welcome", "Home")'">
    <span class="glyphicon glyphicon-arrow-left"></span>Go Back
</button>

<h2>Rinnova @ViewData["Title"]</h2>
@{
    var day = DateTime.Now.DayOfWeek;
    var menuWelcome = $"Welcome to Rinnova! Here is the menu for {day}:";
}
<h4>@menuWelcome</h4>
<br />
<br />

<div class="contaier">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Americano</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    12oz Americano
                </td>
                <td>
                    $2.45
                </td>
            </tr>
            <tr>
                <td>
                    16oz Americano
                </td>
                <td>
                    $2.95
                </td>
            </tr>
        </tbody>
        <thead>
            <tr>
                <th>Iced Americano</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    12oz  iced Americano
                </td>
                <td>
                    $2.45
                </td>
            </tr>
            <tr>
                <td>
                    16oz iced Americano
                </td>
                <td>
                    $2.95
                </td>
            </tr>
            <tr><td></td></tr>
        </tbody>


        <thead>
            <tr>
                <th>Carmelo</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    12oz Carmelo
                </td>
                <td>
                    $3.90
                </td>
            </tr>
            <tr>
                <td>
                    16oz Carmelo
                </td>
                <td>
                    $4.45
                </td>
            </tr>
        </tbody>
        <thead>
            <tr>
                <th>Frozen Carmelo</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    12oz  frozen Carmelo
                </td>
                <td>
                    $3.90
                </td>
            </tr>
            <tr>
                <td>
                    16oz frozen Carmelo
                </td>
                <td>
                    $4.45
                </td>
            </tr>
        </tbody>
        <thead>
            <tr>
                <th>Iced Carmelo</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    12oz  iced Carmelo
                </td>
                <td>
                    $3.90
                </td>
            </tr>
            <tr>
                <td>
                    16oz iced Carmelo
                </td>
                <td>
                    $4.45
                </td>
            </tr>
            <tr><td></td></tr>
        </tbody>


        <thead>
            <tr>
                <th>Nova</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    12oz Nova
                </td>
                <td>
                    $3.90
                </td>
            </tr>
            <tr>
                <td>
                    16oz Nova
                </td>
                <td>
                    $4.45
                </td>
            </tr>
        </tbody>
        <thead>
            <tr>
                <th>Frozen Nova</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    12oz  frozen Nova
                </td>
                <td>
                    $3.90
                </td>
            </tr>
            <tr>
                <td>
                    16oz frozen Nova
                </td>
                <td>
                    $4.45
                </td>
            </tr>
        </tbody>
        <thead>
            <tr>
                <th>Iced Nova</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    12oz  iced Nova
                </td>
                <td>
                    $3.90
                </td>
            </tr>
            <tr>
                <td>
                    16oz iced Nova
                </td>
                <td>
                    $4.45
                </td>
            </tr>
            <tr><td></td></tr>
        </tbody>


        <thead>
            <tr>
                <th>Hot Chocolate</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    12oz Hot Chocolate
                </td>
                <td>
                    $2.45
                </td>
            </tr>
            <tr>
                <td>
                    16oz Hot Chocolate
                </td>
                <td>
                    $2.95
                </td>
            </tr>
            <tr><td></td></tr>
        </tbody>


        <thead>
            <tr>
                <th>Tea</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    12oz Tea
                </td>
                <td>
                    $1.85
                </td>
            </tr>
            <tr>
                <td>
                    16oz Tea
                </td>
                <td>
                    $2.35
                </td>
            </tr>
        </tbody>
        <thead>
            <tr>
                <th>Iced Tea</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    12oz  iced Tea
                </td>
                <td>
                    $1.85
                </td>
            </tr>
            <tr>
                <td>
                    16oz iced Tea
                </td>
                <td>
                    $2.35
                </td>
            </tr>
        </tbody>
        <thead>
            <tr>
                <th>London Fog</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    12oz London Fog
                </td>
                <td>
                    $3.45
                </td>
            </tr>
            <tr>
                <td>
                    16oz London Fog
                </td>
                <td>
                    $3.95
                </td>
            </tr>
            <tr><td></td></tr>
        </tbody>



    </table>
</div>